<!DOCTYPE html>
<html lang="en" ng-app="systemdgen" ng-strict-di>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Systemd service file generator | MySystemd</title>
    <meta name="description" content=">A simple Systemd service file online generator. This powerful and intuitive user interface
            makes us more efficient when we are creating new services file with all possible settings.">
    <meta name="keywords" content="systemd service file generator, systemd generator, linux service files">

    <!-- Angular Material style sheet -->
    <link rel="stylesheet"
          href="angular-material.min.css">
    <link rel="stylesheet"
          href="default.min.css">
    <script src="highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

    <style>
        .preview {
            position: sticky;
            top: 0;
        }

        .preview span {
            margin: 0;
            font-family: monospace;
        }

        .preview .section {
            margin: 0;
            font-weight: bold;
            margin: 10px 0 0 0;
        }

        footer {
            margin: 20px 0 20px 0;
            text-align: center;
            font-size: smaller;
            text-transform: uppercase;
        }

        a {
            color: cadetblue;

        }

        ng-messages {
            color: white !important;
            padding: 5px 5px 5px 5px;
        }

        .hint {
            color: rgb(255, 193, 7);
        }


    </style>

</head>

<body ng-controller="main">

<div layout="row" layout-xs="column" layout-wrap layout-padding>
    <div flex="">
        <h1 class="md-display-3" style="text-align: center;">Systemd File Generator</h1>
        <p class="md-body-2">A simple Systemd service file online generator. This powerful and
            intuitive user
            interface makes us more efficient when we are creating new services file with all possible settings. You can
            click on plus button to add
            more options under correspondent section. I hope that this tool makes your life more easier,
            enjoy!
        </p>
        <p style="text-align: center;">
            Find the code <a href="https://github.com/mubdiur/systemd-service-file-generator">GitHub</a>
        </p>
    </div>
    <div flex="" style="width: 100%;">
        <pre style="overflow: auto;"><code class="language-bash">
#How to install
sudo cp -v mysystemdservice.service /etc/systemd/system #copy service file
sudo systemctl enable mysystemdservice.service          #enable service
sudo systemctl start mysystemdservice.service           #start service
sudo systemctl status mysystemdservice.service          #check if the service started
sudo journalctl -f -u mysystemdservice.service          #inspect the logs

#How to Remove
sudo systemctl stop mysystemdservice.service
sudo systemctl disable mysystemdservice.service
sudo systemctl daemon-reload
        </code></pre>
    </div>
</div>


<div layout="row" layout-xs="column" layout-wrap>
    <div flex="" layout-padding>

        <!-- UNIT OPTIONS  -->
        <md-toolbar class="md-toolbar-tools">
            <h3>Unit Options</h3>

            <span class="flex"></span>

            <md-button class="md-icon-button" aria-label="More">
                <img ng-click="showOptionsDialogue($event,'unit', 'unitVisibleItems')" src="plus.png" height=24 width=24 alt="plus"/>
            </md-button>

        </md-toolbar>


        <d-unit sec="unit" vis="unitVisibleItems"></d-unit>


        <!-- SERVICE OPTIONS  -->

        <md-toolbar class="md-toolbar-tools">

            <h3>Service Options</h3>

            <span class="flex"></span>

            <md-button ng-click="showOptionsDialogue($event,'service', 'serviceVisibleItems')"
                       class="md-icon-button" aria-label="More">
                <img src="plus.png" height=24 width=24 alt="plus" />
            </md-button>

        </md-toolbar>

        <d-unit sec="service" vis="serviceVisibleItems"></d-unit>

        <!-- INSTALL OPTIONS  -->

        <md-toolbar class="md-toolbar-tools">

            <h3>Install Options</h3>

            <span class="flex"></span>

            <md-button ng-click="showOptionsDialogue($event,'install', 'installVisibleItems')"
                       class="md-icon-button" aria-label="More">
                <img src="plus.png" height=24 width=24 alt="plus" />
            </md-button>

        </md-toolbar>

        <d-unit sec="install" vis="installVisibleItems"></d-unit>

    </div>
    <div flex="" layout-padding>
        <md-toolbar class="md-toolbar-tools">
            <h3>Systemd service file preview</h3>

            <span class="flex"></span>

            <md-button ng-click="download()" class="md-icon-button" aria-label="Download">
                <img alt="download" src="/download.png" height=24 width=24/>
            </md-button>

        </md-toolbar>

        <d-preview></d-preview>

    </div>
</div>

<footer>
    <p>Made with ❤️ by <a href="https://github.com/mubdiur" rel="author" target="__blank">Mubdiur</a>
</footer>


<!-- Angular Material requires Angular.js Libraries -->
<script src="angular.min.js"></script>
<script src="angular-animate.min.js"></script>
<script src="angular-aria.min.js"></script>
<script src="angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="angular-material.min.js"></script>

<script src="app.js"></script>
</body>

</html>
